/Copy of image-similarity.properties
/BCN_image-similarity.properties
/eucretive-web.image-similarity.properties
/image-similarity.properties
/design_image-similarity.properties
/Copy of image-similarity-context.xml
